@import "ui-variables";

.git-control .branches {
  width: 100%;
  margin-bottom: 15px;

  &>.branch {
    margin: 2px 0 2px @component-icon-size;
    padding: 2px 5px;
    border-radius: 4px;
    position: relative;

    .icon.chevron-right {
      color: @text-color-subtle;
      opacity: 0.5;
    }

    &.active {
      //background: @button-background-color;
      color: @text-color-highlight;
      //cursor: pointer;

      .icon.chevron-right {
        color: @text-color-highlight;
        opacity: 1.0;
      }
    }

    &:hover {
      //color: @text-color-highlight;
    }

    .right-info {
      position: absolute;
      right: 0;
      top: 0;
      display: inline-block;
      color: @text-color;
    }

    .count {
      i.icon {
        margin-left: 2px;
      }
    }
  }
}
