// https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
@import "ui-variables";

.git-control {
  color: @text-color;
  background: @app-background-color;

  pre {
    padding: 0;
    font-size: 11px;
    background: inherit;
    color: inherit;
    background: inherit;
  }

  .invisible {
    display: none;
  }
}

@import "branches";
@import "commit";
@import "content";
@import "diff";
@import "domain";
@import "files";
@import "icons";
@import "logger";
@import "menu";
@import "sidebar";
